canvas {
    border: 1px solid red;
    background-color: wheat;
    margin: 15px;
}

#title {
    color: white;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#outer-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#canvas-and-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#parameters {

}