canvas {
    border: 1px solid red;
    background-color: wheat;
    margin: 15px;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#outer-container {
    display: flex;
    /* height: 100vh; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#canvas-and-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#parameters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#param-title {margin: 0px;}

.data {
    white-space: pre;
}

input {
    width: 200px;
}

#x0-slider, #y0-slider, #p0-slider, #theta0-slider, #E-slider, #E-theta-slider {
    width: 80px;
}

tr p {
    padding: 0px;
    margin: 0px;
    font-size: small;
}

table {
    border-spacing: 15px 0px;
}

li {
    color: white;
}

#description {
    margin-left: 5%;
    margin-right: 5%;
}